<nz-content>
    <h2>
        Guests
    </h2>
    <p class="textStyle">
        You are required to provide each guest's name, but if you do not want them to have access to our app, do not
        provide their email address.
    </p>
    <div class="mt-5">
        <form class="d-flex justify-content-between">
            <label class="label">
                <p class="label-txt">First Name</p>
                <input type="text" class="input" placeholder="Ann">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="label">
                <p class="label-txt">Last Name</p>
                <input type="text" class="input" placeholder="Doe">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label class="label1">
                <p class="label-txt">Email</p>
                <input type="text" class="input" placeholder="Anns@gmail.com">
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </label>
            <label>
                <div class="progress-count">
                    <i class="fa-solid fa-plus"></i>

                </div>
            </label>
        </form>
    </div>
</nz-content>